@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e6e5e5;
}

#wrapper {
  width: 900px;
  padding: 0 50px;
  margin: 0 auto;
}

#container {
  background: #fff;
  padding: 0 170px;
  position: relative
}

h1 {
  color: #635f5f;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  padding: 90px 0;
  margin: 0;
}

nav {
  position: absolute;
  top: 100px;
  left: -50px;
}
nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  list-style-type: none;
}

nav a {
  display: block;
  background: #635f5f;
  width: 150px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #777;
  padding: 20px;
}

nav a:hover {
  background: #504e4e;
}

main p {
  padding-bottom: 50px;
  line-height: 2em;
  color: #635f5f;
}