@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #341111;
}

#wrapper {
  width: 1000px;
  margin: 0 auto;
  background: #fff;
}

header h1 {
  padding: 80px 25px;
  color: #fff3f3;
  font-size: 4em;
  font-weight: bold;
  background: #655252;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#navi {
  display: flex;
}

#navi li {
  width: 250px;
  text-align: center;
  font-weight: bold;
}

#navi ul {
  position: absolute;
  width: 250px;
  /* デフォルトは非表示 */
  display: none;
}

#navi ul li {
  border-top: 1px solid #947f7f;
}

#navi a {
  display: block;
  padding: 20px 0;
  color: #fff0f0;
  background: #523f3f;
  border-right: 1px solid #655252;
  text-decoration: none;
}
#navi a:hover {
  color: #fff;
  background: #4c4239;
}

#navi > li:last-child > a,
#navi li:last-child li a {
  border-right: none;
}

main {
  padding: 50px 25px 20px;
}

p {
  margin-bottom: 50px;
  line-height: 2em;
  color: #394c4a;
}